.home {
    padding: 30px 35px;
    .top {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 15vw;
        color: #6c63ff;
        img {width: 50vw}
        .more {display: none;}
    }
    .bottom {
        color: #919191;
        h2 {color: #4b4b4b;}
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .link {
            a{
                color: #696969;
                font-weight: 700;
                transition: all 300ms ease-in-out;
                &:hover {
                    color: #505050;
                }
            }
        }
        a {text-decoration: none;}
        .links {
                display: flex;
                align-items: center;
            a {
                color: #6c63ff;
                transition: all 300ms ease-in-out;
                &:not(:first-child) {
                    margin-left: 30px;
                }
                &:hover {
                    color: #453bf7;
                }
                .fab {font-size: large;}
            }
        }
    }

    @media(max-width: 993px) {
        .top{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .bottom {font-size: smaller;}
    }
}